{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Dashboard</h1>
    <p>Welcome, {{ user.username }}!</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>My Courses</h5>
                    <p>View your enrolled courses and track progress</p>
                    <a href="/courses/" class="btn btn-primary">Go to Courses</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>My Progress</h5>
                    <p>Track your learning progress</p>
                    <a href="#" class="btn btn-primary">View Progress</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Profile</h5>
                    <p>Update your profile settings</p>
                    <a href="{% url 'accounts:profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}